[submodule "library/Slim"]
	path = library/Slim
	url = https://github.com/lherich/Slim.git
[submodule "library/Twig"]
	path = library/Twig
	url = https://github.com/lherich/Twig.git
[submodule "library/Valitron"]
	path = library/Valitron
	url = https://github.com/lherich/Valitron.git
[submodule "library/Upload"]
	path = library/Upload
	url = https://github.com/lherich/Upload.git
